@model IEnumerable<ArvutiKomplektid.Models.ArvutiTellimus>

@{
    ViewBag.Title = "PakimisLeht";
}

<h2>PakimisLeht</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kirjeldus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Korpus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kuvar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pakitud)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kirjeldus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Korpus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kuvar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pakitud)
        </td>
        <td>
            @Html.ActionLink("Pakitud", "PakimisLehtMuut", new { id = item.Id, pakk = 1 }) |
            @Html.ActionLink("Pakimata", "PakimisLehtMuut", new { id = item.Id, pakk = 0 })
        </td>
    </tr>
}

</table>
